*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Tahoma, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #ffffff;
  background-color: #849d8f;
}

body > input[type="radio"] {
  display: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.site-wrapper {
  min-width: 940px;
  background-color: #849d8f;
  background-image: url("../img/group-icecream1-slider.png");
  background-repeat: no-repeat;
  background-position: top center;
  transition: background-image 0.5s ease,
    background-color 0.5s ease;
}

.content-wrapper {
  min-width: 860px;
  max-width: 1146px;
  margin: 0 auto;
  padding: 0 20px;
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";
  visibility: hidden;
}

.site-wrapper::before,
.site-wrapper::after {
  background-image: url("../img/group-icecream2-slider.png");
}

.site-wrapper::before,
.site-wrapper::after {
  background-image: url("../img/group-icecream3-slider.png");
}

.main-container {
  margin-top: -11%;
}

.inner-page {
  color: #ffffff;
}

a {
  color: #ffffff;
  text-decoration: none;
  border-bottom: rgba(255, 255, 255, 0.2);
}

a:hover,
a:active {
  color: #ffbc9e;
}

.main-navigation {
  margin: 0;
  padding: 0;
  padding-top: 6px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.site-navigation {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-grow: 1;
  padding-left: 8px;
}

.site-navigation li {
  list-style: none;
  color: #ffffff;
  margin-left: 0;
}

.sub-menu-item {
  padding-bottom: 150px;
}

.user-navigation {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-grow: 2;
  align-content: stretch;
  align-items: stretch;
}

.user-navigation li {
  list-style: none;
  color: #ffffff;
  margin-left: 10px;
}

.main-header {
  position: relative;
}

.header-info {
  position: absolute;
  right: 5px;
  top: 55px;
  color: #ffffff;
  box-sizing: border-box;
  text-align: right;
}

.sub-menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-navigation ul,
.user-navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-navigation a {
  display: block;
  list-style: none;
  border-bottom: rgba(255, 255, 255, 0.2);
  text-align: center;
  color: #ffffff;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  padding: 6px 14px;
  box-sizing: border-box;
}

.login-link {
  position: relative;
  padding-left: 44px;
  padding-top: 9px;
  padding-right: 16px;
  padding-bottom: 9px;
}

.basket-button {
  position: relative;
  padding-left: 6px;
  padding-top: 9px;
  box-sizing: border-box;
}

.user-button {
  color: #ffffff;
  text-align: center;
  display: block;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 100px;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #333333;
  background-color: #f7f6f3;
  border-radius: 100px;
}

.catalog-active-item {
  background-color: #d07058;
  border-radius: 100px;
}

.active-item {
  background-color: #d07058;
}

.search {
  width: 32px;
  position: relative;
}

.search a {
  content: "";
  background-image: url("../img/loupe.svg");
  background-repeat: no-repeat;
  background-position: 7px 7px;
  background-size: 17px 17px;
  display: block;
  width: 32px;
  height: 32px;
  text-indent: -9999px;
}

.search a:hover,
.search a:focus {
  content: "";
  background-image: url("../img/loupe_black.svg");
  background-repeat: no-repeat;
  background-position: 7px 7px;
  background-size: 17px 17px;
  display: block;
  width: 32px;
  height: 32px;
  text-indent: -9999px;
}

.search-form {
  position: relative;
}

.search-form form {
  display: none;
  position: absolute;
  top: 0px;
  width: 341px;
  height: 44px;
  padding: 20px;
  color: #999999;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  background-color: #f8f7f4;
  z-index: 1;
}

.search-form:hover form {
  display: block;
  top: 35px;
  right: 9%;
}

.search-form input[type="search"] {
  width: 341px;
  height: 44px;
  color: #999999;
  box-sizing: border-box;
  padding: 10px 15px;
  padding-right: 40px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  border-radius: 4px;
  border: 1px solid #d3d3d2;
  background-color: #ffffff;
}

.login-link {
  background-image: url("../img/entrance.svg");
  background-repeat: no-repeat;
  background-position: 16px 6px;
  background-size: 21px 19px;
  display: block;
  width: 92px;
  height: 32px;
  font-weight: 500;
  box-sizing: border-box;
}

.login-link:hover,
.login-link:focus {
  text-decoration: none;
  background-image: url("../img/entrance_black.svg");
  background-repeat: no-repeat;
  background-position: 16px 6px;
  background-size: 21px 19px;
  display: block;
  width: 92px;
  height: 32px;
  box-sizing: border-box;
}

.basket-button {
  background-image: url("../img/basket.svg");
  background-repeat: no-repeat;
  background-position: 16px 6px;
  background-size: 21px 20px;
  display: block;
  width: 117px;
  height: 32px;
  font-weight: 500;
}

.basket-active-link {
  padding-left: 25px;
  background-image: url("../img/basket-red.svg");
  background-repeat: no-repeat;
  background-position: 16px 6px;
  background-size: 21px 20px;
  display: block;
  width: 117px;
  height: 32px;
  font-weight: 500;
}

.basket-button:hover,
.basket-button:focus {
  content: "";
  background-image: url("../img/basket_black.svg");
  background-repeat: no-repeat;
  background-position: 16px 6px;
  background-size: 21px 20px;
  display: block;
  width: 117px;
  height: 32px;
}

.basket-active-link:hover,
.basket-active-link:focus {
  content: "";
  background-image: url("../img/basket-red.svg");
  background-repeat: no-repeat;
  background-position: 16px 6px;
  background-size: 21px 20px;
  display: block;
  width: 117px;
  height: 32px;
}

.user-button:hover,
.user-button:focus {
  color: #000000;
  background-color: #f8f7f4;
  border-radius: 100px;
}

.site-navigation a:active,
.user-button:active {
  box-shadow: inset 0 2px 1px #696969;
  background-color: #ededed;
  background-color: rgba(248, 247, 244, 0.99);
}

.site-navigation .sub-menu {
  list-style: none;
  position: absolute;
  top: 60px;
  display: none;
  margin-left: -7px;
  width: 143px;
  border-radius: 4px 5px 5px 4px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  background-color: #f8f7f4;
  box-sizing: border-box;
}

.sub-menu a {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  text-decoration: none;
  color: #323232;

}

.site-navigation > li:hover .sub-menu {
  display: block;
  color: #323232;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;

}

.sub-menu li {
  margin-left: 0;
}

.sub-menu a:hover {
  width: 100%;
  background-color: #fbded7;
  border-radius: 0;
}

.sub-menu a:active {
  background-color: #f6b5a5;
}

.sub-menu .new-item {
  color: #323232;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  border-bottom: 1px solid rgba(50, 50, 50, 0.2);
}

.header-shedule {
 margin-bottom: 8px;
 font-size: 14px;
 line-height: 16px;
 color: #ffffff;
 font-weight: 700;
}

.header-phone {
  list-style: none;
  font-size: 22px;
  line-height: 24px;
  color: #ffffff;
  font-weight: 700;
  text-decoration: none;
}

/*Слайдер начало*/
.slider {
  position: relative;
  padding-top: 266px;
  text-align: center;
  color: #ffffff;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-top: -95px;
  margin-bottom: 30px;
  font-size: 60px;
  font-weight: 700;
  line-height: 60px;
}

.slide-button {
  display: inline-block;
  padding: 11px 42px 13px 42px;
  font-weight: 600;
  font-size: 31px;
  line-height: 41px;
  vertical-align: top;
  color: #ffffff;
  text-decoration: none;
  border-radius: 50px;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
}

.slide {
  display: none;
}

.slider-controls {
  position: absolute;
  bottom: 21px;
  left: 0;
  z-index: 20;
  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

#btn-1:checked ~ .site-wrapper #slide1,
#btn-2:checked ~ .site-wrapper #slide2,
#btn-3:checked ~ .site-wrapper #slide3 {
    display: block;
}

#btn-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/group-icecream1-slider.png");
}

#btn-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/group-icecream2-slider.png");
}

#btn-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/group-icecream3-slider.png");
}

#btn-1:checked ~ .site-wrapper label[for="btn-1"],
#btn-2:checked ~ .site-wrapper label[for="btn-2"],
#btn-3:checked ~ .site-wrapper label[for="btn-3"] {
    background-color: #ffffff;
}
/*Конец слайдера*/


/*Главная страница*/
/*Начало промо*/
.main-promo {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  margin-top: 40px;
}

.promo-item {
  padding: 9px 10px;
  width: 560px;
  min-height: 229px;
  border-radius: 15px;
  box-sizing: border-box;
}

.raspberries-promo {
  background: url("../img/raspberries-logo-1.png") no-repeat;
  background-size: cover;
}

.chocolade-promo {
  background: url("../img/choco-logo.png") no-repeat;
  background-size: cover;
}

.promo-item h2 {
  margin: 0;
  margin-top: 6px;
  margin-left: 10px;
  text-align: left;
  white-space: nowrap;
  list-style: none;
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  color: #ffffff;
}

.promo-item p {
  width: 511px;
  margin: 0px;
  margin-top: 15px;
  margin-left: 12px;
  font-size: 18px;
  color: #ffffff;
}

.promo-item .promo-button {
  display: block;
  float: right;
  width: 165px;
  margin-top: 45px;
  margin-left: 11px;
  padding-right: 11px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  border-radius: 50px;
}

.promo-item .promo-button-chocolade {
  display: block;
  float: right;
  width: 189px;
  margin-top: 45px;
  padding-right: 11px;
  padding: 11px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  border-radius: 50px;
}

/*Конец промо*/
/*Начало лида*/

.lead-text h2 {
  position: relative;
  width: 999px;
  margin: 0;
  padding-left: 21px;
  padding-top: 28px;
  padding-right: 153px;
  list-style: none;
  color: #323232;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
}

.main-lead {
  margin: 0;
  margin-top: -3%;
  background-image: url("../img/wafer-background.jpg");
  background-repeat: repeat;
  border-radius: 15px;
}

.lead-list {
  margin: 0;
  padding-top: 0;
  padding-left: 25px;
  padding-right: 20px;
  padding-bottom: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  color: #323232;
}

.lead-item {
  margin-bottom: 25px;
  padding-left: 50px;
  width: 500px;
  position: relative;
}

.lead-item::after {
  content: "";
  display: block;
  position: absolute;
  top: 4px;
  left: -4px;
  background-image: url("../img/ice-cream.svg");
  background-repeat: no-repeat;
  width: 49px;
  height: 49px;
  margin-right: 7px;
}

.lead-item:nth-child(2)::after {
  content: "";
  display: block;
  position: absolute;
  top: 4px;
  left: 11px;
  background-image: url("../img/cow.svg");
  background-repeat: no-repeat;
  width: 49px;
  height: 49px;
  margin-right: 7px;
}

.lead-item:nth-child(3)::after {
  content: "";
  display: block;
  position: absolute;
  top: -15px;
  left: -4px;
  background-image: url("../img/eco.svg");
  background-repeat: no-repeat;
  width: 49px;
  height: 49px;
  margin-right: 7px;
}

.lead-item:nth-child(4)::after {
  content: "";
  display: block;
  position: absolute;
  top: -15px;
  left: 11px;
  background-image: url("../img/thermometer.svg");
  background-repeat: no-repeat;
  width: 49px;
  height: 49px;
  margin-right: 7px;
}

.lead-list p {
  width: 500px;
  margin: 0;
  color: #323232;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.icon-icecream p {
  width: 488px;
  margin-top: 14px;
}

.icon-cow p {
  margin-top: 20px;
  margin-left: 14px;
}

.icon-thermometer p {
  margin-left: 14px;
}

/*Конец лида*/

.main-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  margin-top: 40px;
}

.main-blog-info {
  padding: 15px 19px;
  box-sizing: border-box;
  border-radius: 15px;
  width: 560px;
  min-height: 220px;
  background-image: url("../img/strawberry-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.main-blog-info h3 {
  list-style: none;
  margin: 0;
  margin-top: 8px;
  font-size: 16px;
  color: #323232;
}

.main-blog-info a {
  width: 280px;
  display: block;
  margin-top: 4px;
  list-style: none;
  color: #323232;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: #323232;
}

.email-subscription {
  width: 560px;
  min-height: 220px;
  background-image: url("../img/border-image-subscription.png");
  background-repeat: no-repeat;
  border-radius: 9px;
  background-size: cover;
}

.subscription-wrapper {
  margin: 5px;
  width: 549px;
  min-height: 210px;
  border-radius: 9px;
  background-color: #f8f7f4;
}

.email-subscription p {
  margin: 0;
  padding-top: 28px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 16px;
  color: #5a5a5a;
  font-weight: 400;
  line-height: 22px;
}

.half-width {
  display: flex;
  justify-content: space-around;
  width: 523px;
  margin-top: 36px;
  margin-left: 13px;
  padding-bottom: 20px;
}

.half-width > input[type="email"] {
  display: block;
  width: 357px;
  height: 42px;
  border-radius: 4px;
  border: 1px solid rgba(178, 178, 178, 0.52);
  background-color: #ffffff;
  color: #999999;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding-left: 5px;
}

.email-subscription-button {
  padding: 12px 16px 10px 16px;
  width: auto;
  color: #fefefe;
  border: none;
  border-radius: 50px;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

iframe {
  width: 100%;
  height: 429px;
}

.main-map {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 429px;
  margin-top: 40px;
  background-image: url("../img/map.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.main-address {
  position: absolute;
  top: 62px;
  right: 135px;
  z-index: 1;
  box-sizing: border-box;
  padding-top: 29px;
  padding-left: 25px;
  width: 302px;
  min-height: 305px;
  font-size: 14px;
  line-height: 20px;
  color: #323232;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.98);
  background-repeat: no-repeat;
}

.address-info p {
  max-width: 220px;
  margin: 0;
  margin-bottom: 6px;
  color: #323232;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.address-info p:nth-of-type(4) {
  padding-top: 18px;
}

.feedback-button {
  display: block;
  width: 252px;
  color: #fefefe;
  margin-left: 0px;
  margin-top: 31px;
  margin-bottom: 25px;
  padding-top: 11px;
  padding-bottom: 11px;
  border-radius: 50px;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.address-info .footer-contacts {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #323232;
}

.footer-phone {
  color: #323232;
  line-height: 22px;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
}
/*Каталог*/
.catalog {
  margin-top: 40px;
}

.catalog-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
}

.catalog-page-title {
  margin-top: 2px;
  margin-bottom: 27px;
  font-size: 35px;
  font-weight: 700;
  line-height: 41px;
}

/*конец каталога*/

.breadcrumbs {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  margin: 0;
  padding: 0;
  list-style: none
}

.breadcrumbs li {
  list-style: none;
  margin-right: 20px;
  vertical-align: top;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #ffffff;
}

.breadcrumbs-current a {
  position: relative;
  width: 220px;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #ffffff;
}

.breadcrumbs a::after {
  content: "»";
  position: absolute;
  top: 2px;
  right: -10px;
  color: #ffffff;
}

/*Фильтры*/

.filters-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 875px;
}

.filters-list-fat {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 416px;
  height: 36px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  background-repeat: no-repeat;
  box-sizing: border-box;
  align-items: center;
  white-space: nowrap;
}

.filters-list-fat li {
  position: relative;
  padding-left: 30px;
  margin-right: 16px;
}

.filter-option input[type="radio"] + label::before {
  content: "";
  position: absolute;
  top: -2px;
  left: 0;
  width: 22px;
  height: 22px;
  border: 3px solid rgba(255, 255, 255, 0.8);
  border-radius: 50%;
}

.filter-option input[type="radio"]:checked + label::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 6px;
  width: 10px;
  height: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
}

.filters-list-fillers {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  width: 700px;
  height: 36px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  background-repeat: no-repeat;
  box-sizing: border-box;
  align-items: center;
  white-space: nowrap;
}

.filters-list-fillers li {
  position: relative;
  padding-left: 39px;
  margin-right: 16px;
}

.filter-option input[type="checkbox"] + label::before {
  content: "";
  position: absolute;
  top: -1px;
  left: 6px;
  width: 22px;
  height: 22px;
  border: 2px solid rgba(255, 255, 255, 0.8);
  border-radius: 5px;
}

.filter-option input[type="checkbox"]:checked + label::after {
  content: "";
  position: absolute;
  top: -5px;
  left: 18px;
  width: 10px;
  height: 20px;
  border-right: 3px solid rgba(255, 255, 255, 0.8);
  border-bottom: 3px solid rgba(255, 255, 255, 0.8);
  transform: rotate(45deg);
}

.filters input[type="submit"] {
  width: 130px;
  height: 30px;
  margin-top: 22px;
  border-radius: 30px;
  border: 2px solid #ffffff;
  background-color: rgba(255, 255, 255, 0.19);
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  cursor: pointer;
}

.filters input[type="submit"]:hover {
  color: #323232;
  background-color: #ffffff;
}

.filters input[type="submit"]:active {
  color: #323232;
  box-shadow: inset 0 2px 1px #696969;
  background-color: #ededed;
}

.filters fieldset {
  border: none;
  padding-left: 0;
}

.filters legend {
  margin-left: 15px;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  font-weight: 500;
}

.filters ul {
  list-style: none;
  margin: 0;
  line-height: 18px;
}

.filter-input:hover + label,
.filter-input:focus + label {
  color: #323232;
}

.filter-input:disabled + label {
  color: #000000;
  opacity: 0.5;
}

.filter-item-wrapper {
  width: 193px;
  height: 36px;
  margin: 0;
  overflow: hidden;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  background-repeat: no-repeat;
}

.filter-select-item {
  width: 220px;
  height: 36px;
  display: block;
  border-style: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  border-radius: 20px;
  background-color: transparent;
  padding-left: 10px;
  background-image: url("../img/select-arrow.svg");
  background-repeat: no-repeat;
  background-position: 170px center;
}

.filter-select-item:hover {
  color: #323232;
}

.filter-select-item option {
  color: #323232;
}

input[type="range"] {
  vertical-align: middle;
  border: none;
}

.range-filter {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
  margin-bottom: 16px;
}

.skroll-wrapper {
  height: 24px;
  margin-top: 5px;
  padding: 6px 15px;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.2);
}

.range-controls {
  position: relative;
  width: 185px;
  height: 4px;
  margin-top: 10px;
  background-color: rgba(248, 247, 244, 0.5);
}

.range-controls .bar {
  position: absolute;
  left: 18px;
  top: 0;
  width: 100px;
  height: 4px;
  background-color: #f8f7f4;
}

.range-toggle {
  position: absolute;
  top: -10px;
  width: 4px;
  height: 4px;
  background-color: #ababab;
  border: 10px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 100%;
}

.range-toggle:hover {
  width: 6px;
  height: 6px;
}
/*конец фильтров*/

/*каталог*/
.catalog-list {
  list-style: none;
}

.catalog-item img {
  border-radius: 50%;
}

.catalog-item {
  position: relative;
  width: 267px;
  height: 395px;
  text-align: center;
}

.catalog-item::before {
  content: "";
  display: block;
  width: 61px;
  height: 61px;
  position: absolute;
  background-image: url("../img/hit.svg");
}

.catalog-item::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  background-color: rgba(248, 247, 244, 0.2);
  display: none;
}

.catalog-item:hover::after {
  display: block;
  cursor: pointer;
}

.catalog-item:hover .item-button {
  display: block;
  z-index: 1;
}

.catalog-item-price {
  position: absolute;
  bottom: 34%;
  left: 0px;
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  color: #ffffff;
  text-shadow: 1px 1px 3px rgba(49, 50, 53, 0.5);
}

.catalog-item-price span {
  font-size: 30px;
}

.catalog-item-price .icon-ruble {
  vertical-align: middle;
}

.catalog-item .item-link {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  text-align: center;
}

.catalog-list .item-button {
  position: relative;
  color: #fefefe;
  width: 200px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px 0px 10px;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  display: none;
  border-radius: 50px;
  box-shadow: 0 1px 2px #ac1000;
  background-color: #e84d37;
  background-image: linear-gradient(top, #e74a35, #f26843);
  background-image: -webkit-linear-gradient(top, #e74a35, #f26843);
}

/*Пагинация*/
.pagination-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding-bottom: 30px;
  margin-bottom: -10px;
}

.pagination-list li {
  list-style: none;
}

.pagination-list a {
  display: block;
  text-decoration: none;
  color: #ffffff;
  width: 25px;
  height: 26px;
  border-radius: 50%;
  text-align: center;
  padding-top: 3px;
  box-sizing: border-box;
}

.pagination-list a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.pagination-list a:focus,
.pagination-list a:active {
  color: #323232;
  background-color: #ffffff;
}

.pagination-prev {
  transform: rotate(180deg);
}

.pagination-list .pagination-item-current a {
  color: #323232;
  border-radius: 50%;
  background-color: #ffffff;
}

.pagination-list .pagination-next a:hover {
  background-color: none;
}

/*footer*/

.main-footer {
  display: flex;
  justify-content: space-between;
}

.footer-social {
   float: left;
   margin-right: 7px;
   margin-top: 23px;
}

.footer-social ul {
  list-style: none;
  display: flex;
  width: 179px;
  margin: 0 auto;
  margin-top: 10px;
  padding: 0;
  flex-wrap: wrap;
  justify-content: space-between;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  opacity: 0.8;
  border: 3px solid #ffffff;
  border-radius: 100px;
}

.social-button:hover {
  opacity: 1;
}

.social-button:active {
  opacity: 0.7;
}

.benefits {
  list-style: none;
  width: 50%;
  margin-top: 13px;
  color: #ffffff;
  font-size: 13px;
  font-weight: 700;
  line-height: 18px;
}

.benefits-list {
  width: 80%;
  margin: 0;
  padding: 20px;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.benefits-list li {
  width: 160px;
  margin-bottom: 10px;
  position: relative;
  white-space: nowrap;
}

.benefits-list a {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.heart::before {
  content: "";
  display: block;
  background-image: url("../img/heart.svg");
  background-repeat: no-repeat;
  width: 15px;
  height: 13px;
  position: absolute;
  top: 3px;
  left: -20px;
  margin-right: 7px;
}

.footer-copyright {
  margin-top: 23px;
}

.footer-copyright p {
  color: #fefefe;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  margin-top: 0;
}

.site-button {
  background-color: #f26843;
  background-image: linear-gradient(top, #e74a35, #f26843);
  background-image: -webkit-linear-gradient(top, #e74a35, #f26843);
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

.site-button:hover {
  color: #ffffff;
  background-color: #f58669;
  background-image: linear-gradient(top, #ec6e5d, #f58669);
  background-image: -webkit-linear-gradient(top, #ec6e5d, #f58669);
  box-shadow: 0 2px 2px #ac1000;
}

.site-button:active {
  color: #fceeec;
  background-color: #d74531;
  background-image: linear-gradient(top, #e1613e, #d74531);
  background-image: -webkit-linear-gradient(top, #e1613e, #d74531);
  box-shadow: inset 0 2px 2px #942718;
}



.modal {
  position: fixed;
  margin-top: 5px;
  color: #323232;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  background-color: #f8f7f4;
}

.modal-login {
  display: none;
  top: 55px;
  left: 61%;
  width: 277px;
  padding: 20px 0 20px 20px;
  z-index: 1;
}

/*.enter-button {
  padding-bottom: 150px;
}*/

.enter-button:hover .modal-login {
  display: block;
  background-image: none;
  height: auto;
}

.login-form p {
  margin: 0;
  margin-bottom: 10px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  width: 241px;
  height: 44px;
  color: #999999;
  box-sizing: border-box;
  padding: 10px 15px;
  padding-right: 40px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  border-radius: 4px;
  border: 1px solid #d3d3d2;
  background-color: #ffffff;
}

.login-form input[type="text"]:hover,
.login-form input[type="password"]:hover {
  border: 2px solid rgba(154, 154, 154, 0.52);
}

.login-action-item {
  display: flex;
  justify-content: space-between;
  margin-right: 37px;
}

.login-button {
  padding: 15px 25px 14px 25px;
  color: #fefefe;
  border: none;
  border-radius: 15px;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  box-shadow: 0 1px 2px #ac1000;
  background-color: #e84d37;
}

.restore {
  margin-left: 15px;
}

.restore a {
  color: #323232;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  text-align: start;
}
/*Корзина*/
.basket-products {
  display: none;
  top: 55px;
  right: 9.8%;
  width: 540px;
  min-height: 280px;
  padding: 20px 15px 20px 15px;
  box-sizing: border-box;
  z-index: 1;
}

.basket:hover .basket-products {
  display: block;
  background-image: none;
}

.basket-products_item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.last-child {
  padding-bottom: 20px;
  border-bottom: 1px solid #cacac7;
}

.basket-products_price, .basket-item-link, .basket-products_info {
  font-size: 13px;
  color: #231f20;
  margin-top: 10px;
  margin-right: 15px;
}

.basket-products_delete {
  background-color: #f8f7f4;
  background-image: url("../img/cross-small.svg");
  background-repeat: no-repeat;
  background-position: 0 11px;
  border: none;
}

.basket-products_photo {
  width: 34px;
  height: 34px;
  margin-left: -5px;
}

.basket-item-link {
  text-decoration: none;
  width: 220px;
  display: block;
}

.basket-products_info {
  width: 100px;
}

.basket-products_info span {
  color: #999999;
}

.total-basket-price {
  display: flex;
  width: 513px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: -15px;
}

.total-basket-price span {
  color: #323232;
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
  padding-bottom: 10px
}

.buy-buttom-basket {
  width: 170px;
  padding: 15px 10px;
  border-radius: 20px;
  box-shadow: 0 1px 2px #ac1000;
  background-color: #e84d37;
  border: none;
}
/*корзина*/

.modal-feedback {
  position: fixed;
  left: 50%;
  top: 50%;
}

.modal-feedback-contact {
  position: relative;
  display: none;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 425px;
  min-height: 390px;
  padding: 13px 25px 25px 25px;
  background-color: #f8f7f4;
  border-radius: 10px 9px 9px 10px;
}

.modal-contact-close {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  background-color: inherit;
  font-size: 25px;
}

.feedback-caption {
  margin: 0;
  padding: 0;
  margin-bottom: 18px;
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  color: #323232;
}

.field input[type="text"],
.field input[type="email"] {
  width: 267px;
  height: 44px;
  margin-bottom: 20px;
  padding-left: 10px;
  color: #999999;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  border-radius: 5px 4px 4px 5px;
  border: 1px solid rgba(178, 178, 178, 0.52);
  background-color: #ffffff;
}

.modal-textarea {
  width: 410px;
  min-height: 155px;
  margin-bottom: 25px;
  padding-top: 10px;
  padding-left: 10px;
  color: #999999;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  border-radius: 5px 4px 4px 5px;
  border: 1px solid rgba(178, 178, 178, 0.52);
  background-color: #ffffff;
}

.field input[type="text"]:hover,
.field input[type="email"]:hover,
.modal-textarea:hover {
  outline: 2px solid rgba(154, 154, 154, 0.52);
}

.modal-contact-button {
  text-align: right;
}

.feedback-button-form {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  padding: 14px 24px 14px 24px;
  box-shadow: 0 1px 2px #ac1000;
  background-color: #e84d37;
  border: none;
  border-radius: 50px;
}

.active-form {
  display: block;
}
