body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Tahoma, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #ffffff;
  background-color: #849d8f;
}
.wrapper {
  min-width: 860px;
  max-width: 1146px;
}

.inner-page {
  color: #ffffff;
}

a {
  color: #ffffff;
  text-decoration: underline;
}

a:hover,
a:active {
  color: #ffbc9e;
}

.button {
  font: inherit;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  border: none;
}

.site-navigation,
.user-navigation {
  list-style: none;
  width: 349px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
}

.sub-menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

/*.site-navigation li,
.user-navigation li {
  position: relative;
  display: inline-block;
}*/

.site-navigation a,
.user-navigation a,
.sub-menu a {
  list-style: none;
  text-decoration: none;
  color: #ffffff;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  width: 87px;
  color: #333333;
  text-align: center;
  padding: 20px 0;
  display: block;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  background-color: #f7f6f3;
  border-radius: 60px;
}

.site-navigation a:active,
.user-navigation a:active {
  box-shadow: inset 0 2px 1px #696969;
  background-color: #ededed;
  background-color: rgba(248, 247, 244, 0.99);
}

.site-navigation .sub-menu {
  list-style: none;
  position: absolute;
  display: none;
  width: 143px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  border-radius: 4px 5px 5px 4px;
  background-color: #f8f7f4;
}

.site-navigation > li:hover .sub-menu {
  display: block;
  width: 143px;
  color: #323232;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

.sub-menu li:hover {
  background-color: #fbded7;
}

.sub-menu li:active {
  background-color: #f6b5a5;
}

 .user-navigation a {
   min-width: 32px;
   max-width: 117px;
   color: #ffffff;
   text-align: center;
   padding: 20px 0;
   display: block;
   font-size: 14px;
   font-weight: 500;
   line-height: 16px;
   border-radius: 60px;
   background-color: rgba(255, 255, 255, 0.2);
 }

/*.slider {
  position: relative;
}

.slider input[type=radio] {
  display: none;
}

.slider-inner {
  overflow: hidden;
}

.slider-slides {
  float: left;
  width: 647px;
  height: 584px;
}

.slider-controls {
  text-align: left;
  margin-top: auto;
}

.slider-controls label {
  display: inline-block;
  width: 21px;
  height: 21px;
  border: 4px solid #ffffff;
  border-radius: 50%;
  background-color: #ffffff;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] {
    background-color: #f8f7f4;
}

#btn-1:checked ~ .slider-slides .slide {
    transform: translate(0);
}

#btn-2:checked ~ .slider-slides .slide {
    transform: translate(-450px);
}

#btn-3:checked ~ .slider-slides .slide {
    transform: translate(-900px);
}*/
.slide-button {
  width: 278px;
  background-image: linear-gradient(top, #e74a35, #f26843);
  background-image: -webkit-linear-gradient(top, #e74a35, #f26843);
  border-radius: 50px;
  text-align: center;
  padding: 20px 0;
  display: block;
  color: #ffffff;
  text-decoration: none;
  font-weight: 700;
  font-size: 32px;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

.slide-button:hover {
  color: #ffffff;
  background-color: #ffffff;
  background-image: linear-gradient(top, #ec6e5d, #f58669);
  background-image: -webkit-linear-gradient(top, #ec6e5d, #f58669);
  box-shadow: 0px 2px 2px 1 rgba(172, 16, 0, 1);
}

.slide-button:active {
  color: #ffffff;
  background-color: #ffffff;
  background-image: linear-gradient(top, #e1613e, #d74531);
  background-image: -webkit-linear-gradient(top, #e1613e, #d74531);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.header-shedule {
 font-size: 14px;
 line-height: 16px;
}

.header-phone {
  font-size: 22px;
  line-height: 24px;
}

/*Главная страница*/

.slide-title {
  font-size: 60px;
  line-height: 60px;
  color: #ffffff;
}
/*Начало промо*/
.promo-item {
  width: 560px;
  border-radius: 15px;
  display: inline-block;
}

.raspberries-promo {
  width: 560px;
  background: url("../img/raspberries-logo-1.jpg") no-repeat;
}

.chocolade-promo {
  width: 560px;
  background: url("../img/choco-logo.jpg") no-repeat;
}

.promo-item h2 {
  list-style: none;
  max-width: 269px;
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  color: #ffffff;
}

.raspberries-promo h2 {
  text-align: left;
  white-space: nowrap;
}

.chocolade-promo h2 {
  text-align: center;
  white-space: nowrap;
}

.promo-item p {
  font-size: 18px;
  color: #ffffff;
}

.promo-button {
  width: 165px;
  display: block;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  border-radius: 50px;
  background-color: #ffffff;
  background-image: linear-gradient(top, #ca3824, #f26843);
  background-image: -webkit-linear-gradient(top, #ca3824, #f26843);
  box-shadow: 0 2px 2px rgba(85, 8, 0, 0.54);

}

.promo-button:hover {
  color: #fefefe;
  background-color: rgba(255, 255, 255, 0.2);
  background-image: linear-gradient(top, #ec6e5d, #f58669);
  background-image: -webkit-linear-gradient(top, #ec6e5d, #f58669);
  box-shadow: 0 1px 2px #ac1000;
}

.promo-button:active {
  color: #fceeec;
  background-color: rgba(0, 0, 0, 0.07);
  background-image: linear-gradient(top, #e1613e, #d74531);
  background-image: -webkit-linear-gradient(top, #e1613e, #d74531);
  box-shadow: inset 0 2px 2px #942718;
}
/*Конец промо*/
/*Начало лида*/
.main-lead {
  color: #323232;
  background-image: url("../img/wafer-background.jpg");
  background-repeat: repeat;
  border-radius: 15px;
}

.lead-text h2 {
  list-style: none;
  color: #323232;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
}

.lead-list p {
  list-style: none;
  color: #323232;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}
/*Конец лида*/

.main-info {
  display: inline-block;
  width: 560px;

}

.main-blog-info {
  border-radius: 15px;
  width: 560px;
  height: 220px; /*По другому никак не смог задать высоту блоков...почему?*/
  background-image: url("../img/strawberry-background.jpg");
  background-repeat: no-repeat;
}

.main-blog-info h3 {
  list-style: none;
  font-size: 16px;
  color: #323232;
}

.main-blog-info a {
  list-style: none;
  color: #323232;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: #323232;
}
/*Не могу понять вроде бы все правильно, но как нормально перекрыть фон и задать размер блока?*/
.email-subscription {
  width: 560px;
  height: 220px; /*По другому никак не смог задать высоту блоков...почему?*/
  border-radius: 9px;
  background-image: url("../img/background-subscription-white.png"),
  url("../img/border-image-subscription.png");
  background-size: 549px, cover;

}

.email-subscription p {
  font-size: 16px;
  color: #5a5a5a;
}

.email-subscription-button {
  width: 278px;
  background-image: linear-gradient(top, #e74a35, #f26843);
  background-image: -webkit-linear-gradient(top, #e74a35, #f26843);
  border-radius: 50px;
  text-align: center;
  padding: 20px 0;
  display: block;
  color: #ffffff;
  text-decoration: none;
  font-weight: 700;
  font-size: 32px;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

.email-subscription-button:hover {
  color: #ffffff;
  background-color: #ffffff;
  background-image: linear-gradient(top, #ec6e5d, #f58669);
  background-image: -webkit-linear-gradient(top, #ec6e5d, #f58669);
  box-shadow: 0px 2px 2px 1 rgba(172, 16, 0, 1);
}

.email-subscription-button:active {
  color: #ffffff;
  background-color: #ffffff;
  background-image: linear-gradient(top, #e1613e, #d74531);
  background-image: -webkit-linear-gradient(top, #e1613e, #d74531);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.main-address p {
  font-size: 14px;
  line-height: 20px;
  color: #323232;
}
/*Каталог*/
.catalog-page-title {
  font-size: 35px;
  font-weight: 700;
  line-height: 41px;
}

.breadcrumbs {
  list-style: none;
}

.breadcrumbs a {
  color: #333333;
}

.breadcrumbs-current {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  background-color: #d07058;
}

.filters fieldset {
  border: none;
}

.filters legend {
  font-size: 14px;
  line-height: 16px;
}

.filters ul {
  list-style: none;
  line-height: 18px;
}

.filter-input:hover + label,
.filter-input:focus + label {
  color: #323232;
}

.filter-input:disabled + label {
  color: #000000;

  opacity: 0.5;
}

.catalog-list {
  list-style: none;
}

.catalog-item img {
  border-radius: 50%;
}

.catalog-item {
  min-width: 200px;
  max-width: 267px;
}

.catalog-item:hover  {
  min-width: 220px;
  max-width: 293px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  background-repeat: no-repeat;
  background-size: 60%;
  background-color: rgba(248, 247, 244, 0.2);
}

.catalog-item-price span {
  font-size: 30px;
  line-height: 45px;
  font-weight: 700;
  color: #ffffff;
  text-shadow: 1px 1px 3px rgba(49, 50, 53, 0.5);
}

.catalog-item-price .price {
  font-size: 45px;
}

.catalog-list .item-button {
  width: 200px;
  box-shadow: 0 1px 2px #ac1000;
  background-color: #e84d37;
  background-image: linear-gradient(top, #e74a35, #f26843);
  background-image: -webkit-linear-gradient(top, #e74a35, #f26843);
}

.pagination-list {
  list-style: none;
}

.pagination-item a {
  min-width: 25px;
  line-height: 18px;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  font-weight: 500;
  color: #ffffff;
  background-color: #849d8f;
}
/*Наведение*/
.pagination-item a:hover {
  width: 25px;
  color: #ffffff;
  background-color: rgba(255, 0, 0, 0.2);#ffffff;
  opacity: 0.2;
}
/*Нажатие и активное состояние*/
.pagination-item a:focus,
.pagination-item a:active {
  width: 25px;
  color: #323232;
  background-color: #ffffff;
}
/*Текущая страница*/
.pagination-item-current a {
  color: #323232;
  background-color: #ffffff;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  color: #323232;
  background-color: #ffffff;
}

.pagination-item .pagination-prev {
  margin-right: 10px;
  text-indent: -1000px;
  background-image: url("../img/select-arrow.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.pagination-item .pagination-next {
  margin-left: 10px;
  text-indent: -1000px;
  background-image: url("../img/select-arrow.svg");
  background-repeat: no-repeat;
  background-position: 0 -40px;
}

.pagination-item .disabled {
  opacity: 0.3;
}

.footer-social ul {
  list-style: none;

}

.social-button {
  color: rgba(255, 255, 255, 0.8);
  background-image: url("../img/twitter.svg");
  background-repeat: no-repeat;
}

.footer-social .social-button:hover {
  color: #ffffff;
}

.footer-social .social-button:active {
  color: rgba(255, 255, 255, 0.7);
}

/*.footer-social .social-button {
  color: rgba(255, 255, 255, 0.8);
}

.footer-social .social-button:hover {
  color: #ffffff;
}

.footer-social .social-button:active {
  color: rgba(255, 255, 255, 0.7);
}

.benefits-link ul {
  list-style: none;
}

.heart::before {
  content: url("../img/heart.svg");
}

.footer-contacts {
  font-size: 18px;
  line-height: 24px;
  color: #323232;
}

.footer-copyright {
  text-align: center;
  color: #fefefe;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  background-image: url("../img/htmlacademy.svg");/*не отображается =(*/
}
